<div class="container">
    <div class="main-content">
            <div class="row">
                <div class="col-lg-6 col-md-12 about-img d-flex justify-content-center">
                    <!-- <div class="about-img"> -->
                        <img src="../../assets/images/about-me.png" alt="About me" class="img-fluid"> 
                    <!-- </div>  -->
                </div>
                <div class="col-lg-6 col-md-12 d-flex justify-content-center">
                   <div>
                        <h2 class="text-uppercase pt-5">
                            Let me introduce myself
                        </h2>
                        <!-- intro info -->
                        <div class="paragraph py-4 w-75">
                            <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quasi nisi veritatis officiis pariatur, quo voluptatibus unde quaerat assumenda minima!</p>
                            <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quasi nisi veritatis officiis pariatur, quo voluptatibus unde quaerat assumenda minima!</p>
                            <button class="btn primary-button text-uppercase">Download CV</button>
                        </div>
                   </div>
                </div>
            </div>
    </div>  
</div>
