<div class="container">
  <div class="main-content">
    <div class="row">
      <div class="col-lg-6 col-md-12 about-img d-flex justify-content-center">
        <!-- <div class="about-img"> -->
        <img src="./assets/images/about-me.png" alt="About me" class="img-fluid">
        <!-- </div>  -->
      </div>
      <div class="col-lg-6 col-md-12 about-text-style">

        <h2 class="title-style text-uppercase pt-5">
          Let me introduce myself
        </h2>
        <!-- intro info -->
        <div class="paragraph py-4 w-75">
          <p class="para">My name is Oussama Zoubia, I'm a software developer, passionate about web dev and data science
            and always seeking to create innovative solutions to real world problem via the humble experience that I
            have, which is
            always developing.
          </p>
          <p class="para">Have been coding and developing for more than 3 years now and more to come, if you want to
            know more
            about my education and my work experience, feel free to download my CV.
          </p>
          <button class="btn primary-button text-uppercase">Download CV</button>
        </div>

      </div>
    </div>
  </div>
</div>
