.container {
  margin-top: 6rem;

  .main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.about-img {
  img {
    width: 25rem;
  }
}

.primary-button {
  background-color: white;
  color: var(--dark-color);
  font-weight: bold;
}



.para {
  color: var(--text-color);
}

.about-text-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-style {
  color: var(--light-gray-color);
}
