<div class="container">
    <div class="main-content">
            <img src="../../assets/images/round.png" alt="round img" class="img-fluid face-img">
            <h1 class="title-text text-uppercase">I'm Oussama Zoubia</h1>
            <h4 class="title-text text-uppercase">Full stack developer | Software developer | Data scientist</h4>
            <!-- CV button  -->
            <div class="site-button">
                <div class="d-flex flex-row flex-wrap">
                    <button type="button" class="btn primary-button text-uppercase">Download CV</button>
                </div>
            </div>
    </div>  
</div>