<div class="container">
  <div class="main-content">
    <img src="../../assets/images/round.png" alt="round img" class="img-fluid face-img">
    <h1 class="title-text text-uppercase ">I'm Oussama Zoubia</h1>
    <h4 class="title-text text-uppercase">Software developer</h4>
    <div class="contact-icons">
      <a href="https://www.linkedin.com/in/zoubia-oussama/" target="_blank"><i
          class="fab fa-linkedin fa-2x mr-3"></i></a>
      <a href="https://github.com/Ozoubia" target="_blank"><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>
</div>
