.container {
  margin-top: 9rem;

  .main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  }
}

.face-img {
  height: 20%;
  width: 20%;
  margin: 2rem;

}

.title-text {
  font-weight: 600;
}
