.header .menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header .menu .navbar{
   padding: 1rem 10rem; 
}

// header links style
.header .menu .nav-item .nav-link{
    font-family: var(--lato);
    text-transform: uppercase;
    font-weight: 500;
    // padding: 1.7rem;
    color: var(--title-color);
}

// // active links
// .header .menu .navbar-nav .active a{
//     -webkit-background-clip: text;
//     background-clip: text;
//     -webkit-text-fill-color: transparent;
//     // background: var(--primary-color);
// }

.header .menu .navbar-nav a:hover{
    background: var(--primary-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}