<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">About me</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Skills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Projects</a>
    </li>
    <!-- logo -->
    <li class="nav-item" style="margin-left: 3rem; margin-right: 3rem;">
      <img src="../../assets/images/logo.png" style="width: 18rem;">
    </li>
    <!--  -->
    <li class="nav-item">
      <a class="nav-link" href="#">Experience</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Education</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact me</a>
    </li>
    
  </ul>