.header .menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header .menu .navbar{
   padding: 1rem 10rem; 
}

// header links style
.header .menu .nav-item .nav-link{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    // padding: 1.7rem;
    color: var(--title-color);
}