.header {
  margin-bottom: 2rem;
}

.navbar-brand {
  img {
    height: 1.5rem;
  }
}

// used for the opacity of the navbar
.navColor {
  background-color: var(--dark-color);
  /*whichever you want*/
  opacity: 0.9;
}

.navbar-toggler {
  outline: transparent;
}

//hamburger icon color
.navbar-toggler-icon {
  color: var(--light-gray-color);
}

.nav-link {
  font-family: var(--lato);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--gray-color);
}



// // active links
// .header .menu .navbar-nav .active a {
//   -webkit-background-clip: text;
//   background-clip: text;
//   -webkit-text-fill-color: transparent;
//   background: var(--primary-color);
// }


// the hover effect on menu items only works in large devices
@media (min-width: 992px) {
  .navbar-nav a:hover {
    background: var(--light-gray-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }


  // hover effect on nav links
  .hover_effect {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: block;
    padding: 1px;
    position: relative;
    z-index: 2;
    text-decoration: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: var(--lato);
    text-transform: uppercase;
    font-weight: bold;
    color: var(--gray-color);

  }

  .hover_effect:after {
    content: "";
    height: 2px;
    left: 0;
    width: 1px;
    bottom: 2px;
    position: absolute;
    -webkit-transition: width 1s ease, background-color 1s ease;
    -moz-transition: width 1s ease, background-color 1s ease;
    -ms-transition: width 1s ease, background-color 1s ease;
    -o-transition: width 1s ease, background-color 1s ease;
    transition: width 1s ease, background-color 1s ease;
    right: 0;
    margin: 0 auto;
  }

  .hover_effect:hover {
    color: var(--light-gray-color);
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -ms-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
    cursor: pointer;
  }

  .hover_effect:hover:after,
  .hover_effect:focus:after {
    width: 100%;
    background-color: var(--light-gray-color);
  }
}
