<div class="container">
    <div class="main-content">
        <h1 class="text-uppercase">Personel projects</h1>
        <!-- filter buttons  -->
        <div class="buttons-group">
            <button >All</button>
            <button  >Web developement</button>
            <button >Mobile development</button>
            <button >Desktop developement</button>
            <button >Data science</button>
        </div>
        <!-- projects grid -->
        <div #shuffleContainer class="row ">
            <!-- first project  -->
            <div class="gIem col-lg-4 col-md-6 col-sm-12 ">
               <img src="../../assets/dummy.JPG" class="img-fluid">
               <div>
                   <h4 class="text-uppercase">hello world</h4>
                   <span class="text-secondary">Web</span>
               </div>
            </div>
            <!-- second project  -->
            <div class="gIem col-lg-4 col-md-6 col-sm-12  ">
               <img src="../../assets/dummy.JPG" class="img-fluid">
               <div>
                   <h4 class="text-uppercase">hello world</h4>
                   <span class="text-secondary">mobile</span>
               </div>
            </div>
            
        </div>
    </div>
</div>