<div class="container">
  <div class="main-content">
    <h1 class="title-style text-uppercase">Personel projects</h1>
    <!-- filter buttons  -->
    <div class="buttons-group">
      <button (click)="filterSelection('all')">All</button>
      <button (click)="filterSelection('web')">Web developement</button>
      <button (click)="filterSelection('mobile')">Mobile development</button>
      <button (click)="filterSelection('desktop')">Desktop developement</button>
      <button (click)="filterSelection('ds')">Data science</button>
    </div>
    <!-- projects grid -->
    <div class="row grid">
      <!-- first project  -->
      <app-prj-template class="prj web" [prjInfo]="projectInformation.project1" prjName="Portfolio"
        imgPath="../../assets/prj-imgs/prj1.JPG"></app-prj-template>
      <!-- second project  -->
      <app-prj-template class="prj mobile" [prjInfo]="projectInformation.project2" prjName="Icar Transport mobile app"
        imgPath="../../assets/prj-imgs/prj2.JPG">
      </app-prj-template>
      <!-- third project  -->
      <app-prj-template class="prj web" [prjInfo]="projectInformation.project3" prjName="Minesweeper"
        imgPath="../../assets/prj-imgs/prj3.JPG"></app-prj-template>
      <!-- forth project  -->
      <app-prj-template class="prj desktop" [prjInfo]="projectInformation.project4" prjName="Libex library management"
        imgPath="../../assets/prj-imgs/prj4.JPG">
      </app-prj-template>
      <!-- fifth project  -->
      <app-prj-template class="prj desktop" [prjInfo]="projectInformation.project5" prjName="Hotel rooms management "
        imgPath="../../assets/prj-imgs/prj5.JPG">
      </app-prj-template>
      <!-- sixth project  -->
      <app-prj-template class="prj ds" [prjInfo]="projectInformation.project6" prjName="Classifiers"
        imgPath="../../assets/prj-imgs/prj6.JPG">
      </app-prj-template>
      <!-- seventh project  -->
      <app-prj-template class="prj ds" [prjInfo]="projectInformation.project7" prjName="Kaggle Titanic challenge"
        imgPath="../../assets/prj-imgs/prj7.JPG">
      </app-prj-template>
      <!-- eighth project  -->
      <app-prj-template class="prj ds" [prjInfo]="projectInformation.project8" prjName="Flower classification using CNN"
        imgPath="../../assets/prj-imgs/prj8.JPG">
      </app-prj-template>
      <!-- ninth project  -->
      <app-prj-template class="prj ds" [prjInfo]="projectInformation.project9" prjName="Facial-expression-recognition"
        imgPath="../../assets/prj-imgs/prj9.JPG">
      </app-prj-template>

    </div>
  </div>
</div>
