<div class="container">
  <div class="main-content">
    <h1 class="text-uppercase">Contact me</h1>
    <div class="row">

      <!-- contact me form -->
      <div class="col-lg-6 tst">
        <!-- Default form contact -->
        <form class="text-center border border-light p-5" action="#!">
          <!-- Name -->
          <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">
          <!-- Email -->
          <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">


          <!-- Message -->
          <div class="form-group">
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"
              placeholder="Message"></textarea>
          </div>
          <!-- Send button -->
          <button class="btn btn-info btn-block" type="submit">Send</button>

        </form>

      </div>
      <!-- contact info -->
      <div class="col-lg-6 tst">
        <div class="d-flex">
          <i class="far fa-envelope"></i>
          zoubia.oussama@hotmail.com
        </div>
        <div class="d-flex">
          <i class="fas fa-mobile"></i>
          +213795175557
        </div>
      </div>
    </div>
  </div>
</div>
