<div class="container">
  <div class="main-content">
    <h1 class="title-style text-uppercase">Contact me</h1>
    <div class="row">

      <!-- contact me form -->
      <div class="col-lg-6">
        <!-- Default form contact -->
        <form class="text-center border border-light p-5 pageclip-form"
          action="https://send.pageclip.co/vfJbHH12WqjeZOG1S3QTQwFIP5qF9tPr" method="post">
          <!-- Name -->
          <input type="text" name="name" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">
          <!-- Email -->
          <input type="email" name="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">


          <!-- Message -->
          <div class="form-group">
            <textarea class="form-control rounded-0 msg-field" rows="6" placeholder="Message"></textarea>
          </div>
          <!-- Send button -->
          <button class="btn btn-info btn-block pageclip-form__submit" type="submit">Send</button>

        </form>

      </div>
      <!-- contact info -->
      <div class="col-lg-6 contact-info">
        <h5>Feel free to contact me via the form or via my email or phone number</h5>
        <div class="d-flex">

          <i class="far fa-envelope"></i>
          <h6>
            zoubia.oussama@hotmail.com
          </h6>
        </div>
        <div class="d-flex">
          <i class="fas fa-mobile"></i>
          <h6>
            +213795175557
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
