<div class="container-fluid">
  <!-- content div -->
  <div class="content">
    <img src={{imgPath}} alt="Project image" class="img-fluid image">
    <!-- show more overlay button  -->
    <div class="middle">

      <h5 class="prjTitleStyle">{{prjName}}</h5>
      <button class="btn text" (click)="prjImgClick(mymodal)">Learn more</button>
    </div>
  </div>


  <!-- showing modal when clicking on a project image  -->
  <ng-template #mymodal let-modal>



    <!-- info column -->

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{prjName}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>
    <div class="modal-body">
      <!-- technologies use  -->
      <h6>Used Technologies</h6>
      <div class="techsUsed">
        <div *ngFor="let tech of prjInfo.techs">{{tech}}</div>
      </div>
      <!-- about project  -->
      <h6>About</h6>
      <div class="aboutText">
        <p>{{prjInfo.about}}</p>
      </div>
    </div>
    <!-- modal code button  -->
    <div class="modal-footer">

      <div *ngIf="prjInfo.github != ''; then thenBlock else elseBlock"></div>
      <!-- if the source code is public show this -->
      <ng-template #thenBlock>
        <button class="btn" (click)="SourceBtn(prjInfo.github)">
          <div class="scodeText">
            <i class="fab fa-github fa-1x"></i>
            Source Code
          </div>
        </button>
      </ng-template>
      <!-- if the source code is private disable the button -->
      <ng-template #elseBlock>
        <button class="btn" disabled>
          <div class="scodeText">
            <i class="fab fa-github fa-1x"></i>
            Private Code
          </div>
        </button>
      </ng-template>
    </div>


  </ng-template>
</div>
