.container-fluid {

  height: 20rem;
  width: 25rem;
  padding: 0px;
  margin: 0.8rem;


  .content {
    height: 90%;
    width: 100%;


    img {
      height: 100%;
      width: 100%;
    }
  }

  .title {
    height: 10%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

  }
}

.prjTitleStyle {
  color: white;
  margin-top: 0.5rem;
}
