.container-fluid {

  height: 15rem;
  width: 20rem;
  padding: 0px;
  border: 1px solid white;
  // margin: 0.8rem;


  .content {
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;

    }
  }

  .title {
    height: 10%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

  }
}

.prjTitleStyle {
  color: white;
  margin-top: 0.5rem;
}

// used for modal when cliking a project image
.close {
  outline: none;
  color: white;
}


.btn {
  border: 1px solid white;
  color: white;
}

// removing the outline of the button
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.techsUsed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--text-color);

  div {
    margin: 0.3rem;
    padding: 0.2rem;
    border: 1px solid var(--text-color);
    border-radius: 5px;
  }
}

.modal-header {
  background-color: var(--dark-color);

  #modal-basic-title {
    color: var(--light-gray-color);
  }
}

.modal-body {
  background-color: var(--dark-color);

  // title style
  h6 {
    color: var(--light-gray-color);
  }

  // about section style
  .aboutText {
    color: var(--light-gray-color);
  }

}

.modal-footer {
  background-color: var(--dark-color);
}

// used to remove the padding in the modal
.contentright {
  padding-left: 0px;
}

.contentleft {
  padding-right: 0px;
}

// used for the button overlay on the prj images
.content {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.content:hover .image {
  opacity: 0.3;

}

.content:hover .middle {
  opacity: 1;
}

.text {
  background-color: var(--dark-color);
  color: white;
  font-size: 0.8rem;
}


// carosel
.carousel {
  height: 100%;
}
