<div class="container">
  <div class="main-content">
    <h1 class="title-style text-uppercase">Technical skills</h1>
    <div class="row">
      <!-- first column  -->
      <div class="cardP">
        <!-- first face -->
        <div class="face face1">
          <div class="cardContent">
            <h5>Technologies I use</h5>
            <h6>HTML</h6>
            <h6>CSS | SCSS | SASS</h6>
            <h6>Bootstrap</h6>
            <h6>Materialize CSS</h6>
            <h6>Javascript</h6>
            <h6>Typescript</h6>
            <h6>Angular</h6>
            <h6>Ionic</h6>

          </div>
        </div>
        <div class="face face2">
          <h2>Front End</h2>
          <!-- arrow down  -->
          <div class="downArrow bounce">
            <img class="arrowDownImg" alt="" src="../../assets/images/arrow-down.png" />
          </div>
        </div>
      </div>
      <!-- second column  -->
      <div class="cardP">
        <!-- first face -->
        <div class="face face1">
          <div class="cardContent">
            <h5>Technologies I use</h5>
            <h6>Python</h6>
            <h6>Django</h6>
            <h6>Flask</h6>
            <h6>Mysql</h6>
            <h6>MongoDB</h6>

          </div>
        </div>
        <div class="face face2">
          <h2>Back End</h2>
          <!-- arrow down  -->
          <div class="downArrow bounce">
            <img class="arrowDownImg" alt="" src="../../assets/images/arrow-down.png" />
          </div>
        </div>
      </div>
      <!-- third column  -->
      <div class="cardP">
        <!-- first face -->
        <div class="face face1">
          <div class="cardContent">
            <h5>Python libraries</h5>
            <H6>Numpy</H6>
            <H6>Pandas</H6>
            <H6>MatplotH6b</H6>
            <H6>Scikit learn</H6>
            <H6>Tensorflow</H6>
            <H6>Keras</H6>
          </div>
        </div>
        <div class="face face2">
          <h2>Data Science</h2>
          <!-- arrow down  -->
          <div class="downArrow bounce">
            <img class="arrowDownImg" alt="" src="../../assets/images/arrow-down.png" />
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
