<div class="container">
    <div class="main-content">
        <h1 class="text-uppercase">Technical skills</h1>
        <div class="row">
            <!-- first column  -->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <!-- title -->
                        <h4 class="card-title">Front End</h4>
                        <!-- items list  -->
                        <ul>
                            <li>HTML</li>
                            <li>CSS | SCSS | SASS</li>
                            <li>Bootstrap</li>
                            <li>Javascript</li>
                            <li>Typescript</li>
                            <li>Angular</li>
                            <li>Ionic</li>
                        </ul>
                    </div>
                  </div>
            </div>
            <!-- second column  -->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <!-- title -->
                        <h4 class="card-title">Back End</h4>
                        <!-- items list  -->
                        <ul>
                            <li>Python</li>
                            <li>Django</li>
                            <li>Mysql</li>
                            <li>mongoDB</li>
                        </ul>
                    </div>
                  </div>
            </div>
            <!-- third column  -->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <!-- title -->
                        <h4 class="card-title">Others</h4>
                        <!-- items list  -->
                        <h6>Design tools</h6>
                        <ul>
                            <li>Adobe Photoshop</li>
                            <li>Adobe Illustrator</li>
                            <li>Adobe XD</li>
                        </ul>
                        <h6>Source control</h6>
                        <ul>
                            <li>GitHub</li>
                            <li>BitBucket</li>
                        </ul>

                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
