<div class="container">
    <div class="main-content">
        <h1>Technical skills</h1>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="skill-logo">
                    <img src="../../assets/logos/html-logo.png" alt="Skill logo" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="skill-logo">
                    <img src="../../assets/logos/css-logo.png" alt="Skill logo" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="skill-logo">
                    <img src="../../assets/logos/bootstrap-logo.png" alt="Skill logo" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="skill-logo">
                    <img src="../../assets/logos/js-logo.png" alt="Skill logo" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="skill-logo">
                    <img src="../../assets/logos/angular-logo.png" alt="Skill logo" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="skill-logo">
                    <img src="../../assets/logos/ionic-logo.png" alt="Skill logo" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="skill-logo">
                    <img src="../../assets/logos/python.png" alt="Skill logo" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="skill-logo">
                    <img src="../../assets/logos/csharp-logo.png" alt="Skill logo" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
