.container{
    margin-top: 6rem;
    margin-bottom: 6rem;
    .main-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
 }
}

.skill-logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    img{
        height: 8rem;
    }
}

.card-title{
    display: flex;
    justify-content: center;
}

