/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: #23252B;
  // background: linear-gradient(180deg, #202833 0%, #0B0C10 100%);
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

// CSS variables

:root {
  --gray-color: #626668;
  --dark-color: #222222;
  --light-gray-color: #C5C6C8;
  --blue-color: #66FCF1;
  --dark-blue-color: #46A29F;

  --title-color: #141313;
  --text-color: #777777;
  --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
  --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  --lato: 'Lato', sans-serif;

}
